.form-group.one-half
  %label Hint:
  = f.text_field(:hint, { class: 'form-control' })
.form-group.one-half
  .form-check
    = f.check_box( :required, { class: 'form-check-input'})
    %label.form-check-label Required
  .form-check
    = f.check_box( :disabled, { class: 'form-check-input'})
    %label.form-check-label Disabled