.form-group.full-width
  %label
    = "Select Options (pipe separated):"
  = f.text_field :collection_string, class: 'full-width form-control field_collection_string'

= render partial: 'admin/custom_fields/base_field', locals: {f: f}
