= section(object, :event_instances)
.list#event_instances
  - event_instances = object.event_instances.paginate(:page => 1, :per_page => 20)
  = render :partial => "event_instances/event_instance", :collection => event_instances

= will_paginate event_instances, :id => 'event_instances_pagination', :params => {:action => :event_instances}
