- if (controller.controller_name == 'campaigns') and (template = template_for_current_view).present?
  = render("fat_free_crm/" + template, campaign: campaign)
- else
  -# default view
  = render 'fat_free_crm/campaigns/index_brief', campaign: campaign
