- if @list.valid?
  $('#lists').replaceWith('#{ j render(partial: "lists/lists") }');
  $('.list_save').show();

- else # Couldn't create the saved list -- validation failed.
  $form = $('.lists .list_form:visible')
  $form.find("[name='list[name]']").focus();
  $form.find("[type=submit]").prop('disabled', false);
