- if @list.valid?
  $('#lists').replaceWith('#{ j render(:partial => "lists/sidebar") }');
  $('.show_lists_save_form').show();
  $('#personal_lists').replaceWith('#{ j render(:partial => "lists/personal_sidebar") }');
  $('.show_personal_lists_save_form').show();

- else # Couldn't create the saved list -- validation failed.
  $('#new_list').effect("shake", { duration:250, distance: 6 });
  $('#list_name').focus();
  $('#save_list').enable();
