= form_for([:admin, @research_tool]) do |f|
  .section
    %table
      %tr
        %td
          .label.top.req Name:
          = f.text_field :name, placeholder: 'e.g. Google Scholar', required: true
      %tr
        %td
          .label.top.req URL Template:
          = f.text_field :url_template, placeholder: 'e.g. https://example.com/search?q={query}', required: true

