.row{ id: dom_id(research_tool) }
  .name.ellipsis
    = research_tool.name
  .url.ellipsis
    = research_tool.url_template
  .tools
    = link_to_edit(research_tool, url: edit_admin_research_tool_path(research_tool))
    |
    = link_to_delete(research_tool, url: admin_research_tool_path(research_tool),
      data: { confirm: t(:are_you_sure) },
      method: :delete)
