- id = dom_id(@field)
- if @field.destroyed?
  $('li##{id}').css('background-color', '#ffe4e1').slideUp(250);
- else
  $('#flash').html('#{ j flash[:warning] }')
  $(crm.flash('warning'))
  - flash[:warning] = nil
