- if (controller.controller_name == 'samples') and (template = template_for_current_view).present?
  = render(template, sample: sample)
- else
  -# default view
  = render 'samples/index_brief', sample: sample
