config/database.yml
coverage/*
db/schema.rb
db/*.sql*
log/*.log
tmp/**/*
public/avatars/**/*
public/javascripts/cache/*.js
public/stylesheets/cache/*.css
nbproject
.bundle
.rspec
.idea/
.DS_Store
*~
*.swp
vendor/plugins/crm_*
