config/*.yml
!config/database.mysql.linux.yml
!config/database.mysql.yml
!config/database.postgres.yml
!config/database.sqlite.yml
!config/settings.yml.example

.rspec
spec/reports
coverage/*
db/schema.rb
db/*.sql*
log/*.log

public/avatars/**/*
public/javascripts/cache/*.js
public/stylesheets/cache/*.css
public/stylesheets/crm_*.css
public/plugin_assets

tmp
.bundle
.idea/
.DS_Store
.rvmrc
*~
*.swp

