config/database.yml
coverage/*
db/schema.rb
db/*.sql*
log/*.log
public/avatars/**/*
public/javascripts/cache/*.js
public/stylesheets/cache/*.css
public/plugin_assets
spec/reports
nbproject
tmp/**/*
.bundle
.idea/
.DS_Store
*~
*.swp
features/screengrabs
features/reports
