<h1>#{t :edit_comment}</h1>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit t(:update) %>
  </p>
<% end %>

<%= link_to t(:show), @comment %> |
<%= link_to t(:back), comments_path %>
