- if (controller.controller_name == 'contracts') and (template = template_for_current_view).present?
  = render(template, contract: contract)
- else
  -# default view
  = render 'contract/index_brief', contract: contract
