%nav{ class: "nav nav-pills nav-sm" }
  %a{ class: "nav-link " + (@view == "pending" ? "active" : "off"), href: tasks_path }
    = t :pending_tab
  %a{ class: "nav-link " + (@view == "assigned" ? "active" : "off"), href: url_for(action: :index, view: "assigned") }
    = t :assigned_tab
  %a{ class: "nav-link " + (@view == "completed" ? "active" : "off"), href: url_for(action: :index, view: "completed") }
    = t :completed_tab
