%table{ :cellpadding => 2, :cellspacing => 0, :style => "width: 100%; margin: 0px 0px 10px 0px" }
  %tr
    %td{ :class => "selector left on", :width => "33%" }
      Pending
    %td{ :class => "selector off", :width => "33%" }
      Assigned
    %td{ :class => "selector right off", :width => "33%" }
      Completed
