.page-heading.space-between
  .title
    %h1
      = (@view == "assigned" ? t(:assigned_tasks) : t(:tasks))
    = image_tag("loading.gif", size: :thumb, id: "loading", style: "display: none;")
  .title_tools
    = link_to_inline(:create_task, url_for(action: :new, view: @view), {text: t(:create_task), class: 'btn btn-primary'})
  
.remote#options{ hidden }
.remote#create_task{ hidden }
