- context = "create_task"
= inline context, url_for(:action => :new, :view => @view), (@view == "assigned" ? "Assign Task" : "Create Task")
- unless @task
  .title{:id => "#{context}_title"}= (@view == "assigned" ? "Assigned Tasks" : "Tasks")
  .remote{hidden, :id => context}
- else
  .title{:id => "#{context}_title"}= (@view == "assigned" ? "Assign Task" : "Create Task")
  .remote{:id => context}= render :partial => "create"
