= inline :create_task, url_for(:action => :new, :view => @view, :text => t(:create_task_link))
.title#title= (@view == "assigned" ? t(:assigned_tasks_title) : t(:tasks_title))
.remote#options{ hidden }
.remote#create_task{ hidden }
