= render :partial => "styles"

- collapsed = session[:tasks_new_assigned].nil?
=inline "Assign New Task", url_for(:action => :new, :view => @view), { :id => :inline, :collapsed => collapsed }
.title Assigned Tasks
= render :partial => "assign", :locals => { :collapsed => collapsed }

.log#log
  - if !@tasks.values.flatten.empty? || all_filtered_out?(:assigned)
    - Setting.task_due_date.each do |value, key|
      %div{ :id => "list_#{key}" }= render :partial => "list", :locals => { :key => key, :value => value }
  - else
    %div You don't have any assigned tasks that are unfinished.
