- content_for :styles do
  %style
    - Setting.task_category_color.each do |key, value|
      == .#{key} { background:#{value}; }

=inline "Create New Task", new_task_path, { :id => :inline, :collapsed => session[:tasks_new_pending].nil? }
.title Tasks
= render :partial => "create"

.log#log
  - unless @tasks.values.flatten.empty?
    - Setting.task_due_date.each do |value, key|
      = render :partial => "list", :locals => { :key => key, :value => value }
  - else
    %div You don't have any pending tasks.
