= render :partial => "styles"

.title Completed Tasks
.log#log
  - if !@tasks.values.flatten.empty? || all_filtered_out?(:completed)
    - Setting.task_completed.each do |value, key|
      %div{ :id => "list_#{key}" }= render :partial => "list", :locals => { :key => key, :value => value }
  - else
    %div You don't have any completed tasks yet.
