=inline "Assign New Task", new_task_path, { :id => :inline, :collapsed => session[:tasks_new_assigned].nil? }
.title Assigned Tasks
= render :partial => "assign"

.list#list
  - unless @tasks.values.flatten.empty?
    - Setting.task_due_date.each do |value, key|
      = render :partial => "list", :locals => { :key => key, :value => value }
  - else
    %div== You don't have any assigned tasks that are unfinished.
