= render :partial => "styles"

.title Completed Tasks
.log#log
  - unless @tasks.values.flatten.empty?
    - Setting.task_completed.each do |value, key|
      = render :partial => "list", :locals => { :key => key, :value => value }
  - else
    %div You don't have any completed tasks yet.
