- if (controller.controller_name == 'facilities') and (template = template_for_current_view).present?
  = render('fat_free_crm/' + template, facility: facility)
- else
  -# default view
  = render 'fat_free_crm/facilities/index_brief', facility: facility
