%ul.list#accounts
	- if @accounts.any?
		- @accounts.each do |account|
			- next if account.reports_to.present? && @accounts.map(&:id).include?(account.reports_to_id)
			= render account
	- else
		= render "fat_free_crm/shared/empty"
