.fields{ 'data-object-name' => f.object_name }
  %p
    - key = (f.object_name =~ /[0]/) ? :advanced_search_group_first : :advanced_search_group_rest
    = t(key, :combinator => f.combinator_select).html_safe

  .filters
    - f.object.build_condition unless f.object.conditions.any?
    = f.condition_fields do |c|
      = render 'condition_fields', :f => c

    %p
      = link_to_add_fields t(:advanced_search_add_condition), f, :condition
