- leads = entity.leads.order('updated_at DESC').paginate(:page => params[:page], :per_page => 20)
jQuery('#leads').html('#{ j render(:partial => 'leads/lead', :collection => leads) }');
jQuery('#leads_pagination').html('#{ j will_paginate(leads, :container => false, :params => {:action => :leads}) }');
