.title {
  border-bottom: 1px gray solid;
  color: #342d7e;
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 2px; }
  .title img {
    position: relative;
    top: 2px; }

.title_tools {
  font-size: 12px;
  float: right;
  margin: 4px 0px 0px 0px; }

.subtitle {
  border-bottom: 1px silver solid;
  color: #2f2f2f;
  font-size: 13px;
  font-weight: bold;
  ahover-background: none; }
  .subtitle a:link, .subtitle a:visited {
    color: darkslateblue;
    text-decoration: none; }

.subtitle_tools {
  font-size: 11px;
  float: right; }

.radio_box {
  line-height: 20px; }
  .radio_box input {
    position: relative;
    top: -2px; }

.check_box {
  line-height: 20px; }
  .check_box input {
    position: relative;
    top: -3px; }
  .check_box label {
    font-size: 11px; }

.tabless {
  margin: auto;
  width: 480px; }

.standalone {
  background: whitesmoke;
  border: 20px lightsteelblue solid;
  margin: 75px auto 6px auto;
  padding: 20px;
  width: 400px;
  -moz-border-radius: 6px;
  -moz-box-shadow: 5px 5px 15px #bbbbbb, -5px 0px 15px #bbbbbb;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 5px 5px 15px #bbbbbb, -5px 0px 15px #bbbbbb; }
  .standalone input[type="text"], .standalone input[type="password"] {
    font-size: 16px;
    padding: 2px;
    width: 355px; }
  .standalone input[type="submit"] {
    font-size: 14px; }

.tabbed {
  padding: 12px 12px 12px 16px; }

.main {
  background: white;
  padding: 8px 15px 15px 15px;
  -moz-border-radius: 4px;
  -moz-box-shadow: 2px 2px 8px #bbbbbb, -2px 0px 8px #bbbbbb;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 2px 2px 8px #bbbbbb, -2px 0px 8px #bbbbbb; }

.sidebar {
  color: #3f3f3f;
  font-size: 11px;
  padding: 0px 12px 0px 0px;
  width: 210px; }

.form {
  background: white; }
  .form h4 {
    font-size: 18px;
    height: 30px; }

.tools {
  font-size: 10px;
  float: right;
  padding: 0px 0px 0px 4px; }
  .tools#comment_new_tools {
    margin: 8px 0px 0px 0px; }

.label {
  color: #3f3f3f;
  font-size: 12px;
  margin: 8px 0px 0px 0px;
  padding: 0px 8px 0px 0px; }

.top {
  margin: 5px 0px 0px 0px; }

.req {
  background: url("/images/asterisk.gif") no-repeat scroll center right transparent;
  color: navy;
  float: left; }

.intro {
  color: dimgray;
  font-size: 12px;
  padding-top: 5px; }

.section {
  background: whitesmoke;
  color: #3f3f3f;
  margin: 0px 0px 2px 0px;
  padding: 4px 15px 8px 15px; }
  .section table {
    width: 500px;
    border-spacing: 0px;
    border-collapse: collapse; }
    .section table td {
      vertical-align: top;
      padding: 0px; }
      .section table td input[type="text"], .section table td input[type="password"] {
        width: 240px; }

.remote {
  border: 5px lightblue solid;
  background: whitesmoke;
  margin: 0px;
  padding: 0px 10px 0px 10px;
  position: relative; }
  .remote .close {
    background: lightblue;
    border-top: 1px gainsboro solid;
    border-left: 1px gainsboro solid;
    border-bottom: 1px grey solid;
    border-right: 1px grey solid;
    color: navy;
    cursor: pointer;
    height: 16px;
    margin: 3px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 17px; }

.buttonbar {
  border-top: 1px gray solid;
  margin: 8px auto;
  padding-top: 8px; }

.section input, .sidebar input, .inline input,
.section select, .sidebar select, .inline select,
.section textarea, .sidebar textarea, .inline textarea {
  margin: 3px 0px 0px 0px;
  vertical-align: middle; }

.cool {
  color: darkgreen; }

.warn {
  color: crimson; }

.urgent {
  color: darkred; }

.black {
  color: black; }

.white {
  color: white !important; }

.grayed {
  color: silver !important; }

.amount {
  background: palegreen;
  color: black;
  font-size: 11px;
  text-align: center;
  padding: 0px 3px 0px 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px; }

.strip {
  background: gainsboro;
  color: black;
  float: left;
  font-size: 11px;
  margin: 0px 6px 0px 0px;
  padding: 1px 4px 1px 3px;
  text-align: right;
  width: 75px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px; }

.indent {
  margin-left: 88px; }

.indentslim {
  margin-left: 38px; }

.indentwide {
  margin-left: 106px; }

.indentfull {
  margin-left: 126px; }

.bucket {
  margin: 0px 0px 10px 0px; }

.prefix {
  width: 30px;
  font-size: 10px; }

.comment {
  background: #f2f2f2;
  border-bottom: 1px gainsboro solid;
  margin: 2px 0px 0px 0px;
  overflow: hidden;
  padding: 4px;
  list-style: none; }
  .comment#comment_new {
    margin: 3px 0px 0px 0px; }
  .comment input[type=text] {
    border: 1px #cfcfcf solid;
    color: grey;
    font-size: 11px;
    margin: 3px 0px 0px 0px;
    padding: 3px;
    width: 500px; }
  .comment textarea {
    font-size: 11px;
    height: 110px;
    margin: 3px 0px 0px 0px;
    padding: 3px;
    width: 500px; }
  .comment .gravatar {
    float: left;
    margin: 3px 10px 3px 3px; }
  .comment .body {
    display: inline;
    font-size: 11px; }
  .comment tt {
    font-size: 10px;
    color: #666666; }
  .comment dt {
    padding: 0px;
    margin: -10px 0px 0px 36px; }
    .comment dt p {
      margin: 10px 0px 0px 0px; }

.mail {
  background: #f2f2f2;
  border-bottom: 1px gainsboro solid;
  margin: 2px 0px 0px 0px;
  overflow: hidden;
  padding: 4px;
  list-style: none; }
  .mail .gravatar {
    float: left;
    margin: 3px 10px 3px 3px; }
  .mail .subject {
    color: black; }
  .mail .body {
    display: inline;
    font-size: 11px; }
  .mail tt {
    font-size: 10px;
    color: #666666; }
  .mail dt {
    padding: 0px;
    margin: -10px 0px 0px 36px; }
    .mail dt p {
      margin: 10px 0px 0px 0px; }

.toggle {
  font-weight: normal; }

#export {
  font-size: 9px;
  margin: 12px 0px 0px 0px; }

#paginate {
  float: right;
  font-size: 10px;
  margin: 4px 0px 0px 0px; }

#paging {
  float: right;
  margin: 7px 5px 0px 0px; }

.confirm {
  background: #cdfecd;
  border-left: 10px palegreen solid;
  font-size: 11px;
  margin: 0px 0px 6px 0px;
  padding: 6px; }

.log {
  padding: 8px 0px 0px 0px; }
  .log h3 {
    border-bottom: 1px #2f2f2f dotted;
    color: #2f2f2f;
    margin: 0px 0px 4px 0px;
    padding: 2px 0px 2px 86px; }
    .log h3.overdue {
      color: crimson;
      border-bottom: 1px crimson dotted; }
    .log h3.due_asap {
      color: darkred;
      border-bottom: 1px darkred dotted; }
    .log h3.due_today {
      color: darkgreen;
      border-bottom: 1px darkgreen dotted; }
  .log li {
    color: #3f3f3f;
    font-size: 12px;
    list-style: none;
    padding: 3px 0px 3px 0px; }
    .log li tt {
      color: dimgray;
      font-size: 11px; }
  .log input[type=checkbox] {
    float: left;
    margin: 0px 4px 0px 0px; }

.list {
  padding: 8px 0px 0px 0px; }
  .list li {
    border-bottom: 1px silver dotted;
    clear: both;
    color: #3f3f3f;
    font-size: 12px;
    list-style: none;
    padding: 6px 0px 6px 0px; }
    .list li .gravatar {
      float: left;
      padding: 0px 8px 0px 0px; }
    .list li tt {
      color: dimgray;
      font-size: 11px; }
    .list li dt {
      color: #3f3f3f;
      font-size: 11px;
      padding: 2px 0px 0px 0px; }
    .list li dt a:link, .list li dt a:visited {
      color: #3f3f3f;
      font-weight: bold;
      text-decoration: none; }
    .list li dt a:hover {
      background: dimgray;
      color: white;
      font-weight: bold;
      text-decoration: none; }

.filters, .panel {
  background: snow;
  margin: 0px 0px 12px 0px;
  padding: 6px 8px 6px 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 2px 2px 8px #bbbbbb, -2px 0px 8px #bbbbbb;
  -webkit-box-shadow: 2px 2px 8px #bbbbbb, -2px 0px 8px #bbbbbb; }

.filters h4 {
  color: navy;
  font-size: 12px;
  font-weight: bold; }
.filters input[type=text] {
  margin-bottom: 4px; }

.panel div {
  margin: 0px 0px 10px 0px; }
.panel h4 {
  font-size: 13px;
  font-weight: bold; }
.panel li {
  border-bottom: 1px silver dotted;
  font-size: 12px;
  list-style: none;
  padding: 2px 0px 3px 0px; }
  .panel li dt {
    float: right;
    font-size: 11px;
    font-weight: bold; }
  .panel li tt {
    font-size: 11px; }
  .panel li.last {
    border-bottom: none; }
.panel .caption {
  border-bottom: 1px grey solid;
  color: navy;
  font-size: 12px;
  font-weight: bold;
  margin: 4px 0px 2px 0px;
  padding: 2px 0px 2px 0px; }
.panel#recently {
  background: floralwhite; }
.panel#summary {
  background: oldlace; }
  .panel#summary p {
    margin: 4px 0px 4px 0px; }

.selector {
  color: black;
  cursor: pointer;
  font-size: 10px;
  text-align: center; }

.on {
  background: lightgoldenrodyellow;
  border: 1px silver inset; }

.off {
  background: lightgrey;
  border: 1px silver outset; }

.arrow {
  font-size: 9px;
  padding: 0px 2px 3px 0px; }

.left {
  -moz-border-radius-bottomleft: 9px;
  -moz-border-radius-topleft: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -webkit-border-top-left-radius: 9px; }

.right {
  -moz-border-radius-bottomright: 9px;
  -moz-border-radius-topright: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -webkit-border-top-right-radius: 9px; }

.menu {
  background: #f4f5eb;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
  left: 0px;
  padding: 2px 0px;
  position: absolute;
  top: 0px;
  width: 12em;
  -webkit-box-shadow: 10px 10px 15px gainsboro;
  ahover-background: mediumblue;
  ahover-color: white; }
  .menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
  .menu li {
    list-style-position: outside; }
  .menu a {
    color: #555555;
    cursor: default;
    display: block;
    margin: 0px 2px;
    outline: none;
    padding: 4px 15px;
    text-decoration: none; }
