#header {
  background: #330000;
  color: #cd7570;
  padding: 8px 16px 8px 16px; }
  #header h3 a {
    background: #330000;
    color: white;
    font: normal 15px "Lucida Grande", Arial, Helvetica, sans-serif;
    text-decoration: none; }
  #header #welcome {
    float: right;
    font-size: 11px; }
    #header #welcome a {
      color: lightyellow;
      padding: 1px 4px 2px 4px;
      text-decoration: none; }
      #header #welcome a:hover {
        background: #330000;
        color: yellow; }
    #header #welcome a.selected {
      background: steelblue;
      color: lightyellow;
      -moz-border-radius-topleft: 2px;
      -moz-border-radius-topright: 2px;
      -webkit-border-top-left-radius: 2px;
      -webkit-border-top-right-radius: 2px; }
  #header #jumpbox {
    background: steelblue;
    padding: 12px;
    position: absolute;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px; }
    #header #jumpbox #jumpbox_menu a {
      color: white;
      padding: 0px 0px 4px 0px; }
      #header #jumpbox #jumpbox_menu a.selected {
        color: #330000; }
      #header #jumpbox #jumpbox_menu a:hover {
        background: steelblue; }
    #header #jumpbox #jumpbox_label {
      color: white; }
    #header #jumpbox input {
      margin: 2px 0px 0px 0px; }
    #header #jumpbox input#auto_complete_query {
      width: 310px; }

#tabs {
  background: #330000;
  height: 24px;
  padding: 0px;
  text-align: center;
  width: 100%; }
  #tabs li {
    float: left;
    font-size: 12px;
    list-style: none;
    margin: 0px 4px 0px 16px;
    width: 80px; }
  #tabs a:link, #tabs a:visited {
    background: #860000;
    color: white;
    float: left;
    padding: 4px 8px 5px 8px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px; }
  #tabs a:hover {
    background: #cd7570;
    color: #330000; }
  #tabs a:link.active, #tabs a:visited.active {
    background: white;
    color: #330000;
    text-decoration: none; }

#footer {
  color: grey;
  font-size: 10px;
  padding: 0px 0px 0px 16px; }
