.errorExplanation {
  background-color: seashell;
  border: 2px solid salmon;
  font-size: 12px;
  padding: 8px;
  margin: 8px 13px 0px 13px; }
  .errorExplanation h2 {
    background: salmon;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin: -8px;
    padding: 5px; }
  .errorExplanation ul {
    margin-left: 30px; }
    .errorExplanation ul li {
      border: none;
      font-size: 12px;
      list-style-type: disc;
      padding: 0px; }

.fieldWithErrors input {
  border-bottom: 1px solid lightpink;
  border-right: 1px solid lightpink;
  background: pink; }

p.flash_warning, p.flash_error {
  background: lightpink;
  color: maroon;
  margin: 0px;
  padding: 5px 0px 5px 16px; }
p.flash_notice, p.flash_message {
  background: #df9;
  color: darkgreen;
  margin: 0px;
  padding: 5px 0px 5px 16px; }

div.auto_complete {
  background: white;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: 310px; }
  div.auto_complete ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    div.auto_complete ul li {
      color: #3f3f3f;
      cursor: pointer;
      display: block;
      list-style-type: none;
      margin: 0px;
      padding: 2px; }
      div.auto_complete ul li .highlight {
        background: lightyellow; }
      div.auto_complete ul li.selected {
        background: royalblue;
        color: white; }
        div.auto_complete ul li.selected .highlight {
          background: royalblue; }

.pagination {
  background: white;
  float: right;
  font-size: 11px;
  margin: 6px 0px 0px 0px; }
  .pagination a, .pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin: 0px 2px 0px 0px; }
  .pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .pagination span.current {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1; }
  .pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5; }
    .pagination a:hover, .pagination a:focus {
      color: navy;
      background: lightyellow;
      border-color: navy; }
