/* Standard tags 
-------------------------------------------------------- */
html, body {
  background: #e5e5e5;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 100%;
  line-height: normal;
  /*text-align: center;*/
  /*background: #fffddb;*/
}
body, ol, ul, li, dt, tt, label, input, select, textarea {
  font-size: 12px;
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}
body, h1, h2, h3, h4, h5, h6, ol, ul, li {
  margin: 0px;
  padding: 0px;
}

input, select, textarea {
  padding: 3px;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: underline;
}

a:link {
  color: navy;
}

a:hover { 
  background: steelblue; 
  color: #fff; 
  text-decoration: none; 
}

a img {
  background-color: white; 
  border: none;
  color: white; 
  text-decoration: none; 
}

small {
  font-size: 10px;
}

dt {
  font-size: 11px;
}

tt {
  font-size: 12px;
}

/* Page header and tabs.
-------------------------------------------------------- */
#header {
  background: #153358; 
  padding: 8px 16px 8px 16px;
}       

#header h3 a {
  background: #153358; 
  color: greenyellow;
  font: normal 15px "Lucida Grande", Arial, Helvetica, sans-serif;
  text-decoration: none;
}

#header div {
  color: cadetblue;
  float: right;
  font-size: 12px;
}

#header div a:link,
#header div a:visited {
  color: lightyellow;
  padding: 1px 4px 1px 4px;
  text-decoration: none; 
}

#tabs {
  background: #153358; 
  height: 24px;
  padding: 0px;
  text-align: center;
  width: 100%;
}

#tabs ul {
  /*margin: 0px 25%;*/ /* 18% for 5th tab */
}

#tabs li {
  float: left;
  font-size: 12px;
  list-style: none;
  margin: 0px 4px 0px 16px;
  width: 80px;
}

#tabs a:link,
#tabs a:visited {
  background: #466bb1;
  color: white;
  float: left;
  padding: 4px 8px 5px 8px;
  text-align: center;
  text-decoration: none;
  width: 80px;
}

#tabs a:hover {
  /*background: #ffdb97;*/
  background: #97baff;
  color: navy;
}

#tabs a:link.active,
#tabs a:visited.active {
  /*background:#97baff;*/
  background: white;
  color:navy;
  text-decoration:none;
}

#footer {
  color: grey;
  font-size: 10px;
  padding: 0px 0px 0px 16px;
}

/* Common page elements 
-------------------------------------------------------- */
.wrap {
  background-color: white;
  min-height: 90%;
  margin: 0px auto;
  padding: 0px 0px 5px 0px;
  text-align: left;
  width: 800px;
}

.title {
  border-bottom: 1px gray solid;
  color: #342D7E;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 3px;
}

.title #name {
  height: 55px;
}

.title #info {
  color: dimgray;
  font-size: 12px;
  font-weight: normal;
  vertical-align: top;
}

.subtitle {
  border-bottom: 1px gray solid;
  color: dimgray;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 3px;
}   

.headline { /* within title with avatar */
  display: block;
  text-align: left;
  vertical-align: top;
}

.tlink,
.subtlink {
  color: dimgray;
  font-size: 12px;
  /*font-weight: bold;*/
  float: right;
}
.money {
  /*color: black;*/
  float: right;
  /*font-weight: bold;*/
  margin-left: 10px;
}
.odd {
  border-bottom: 1px silver dotted;
  float: left;
  width: 100%;
  /*background: whitesmoke;*/
}

.even {
  border-bottom: 1px silver dotted;
  float: left;
  width: 100%;
}

.todo {
  color: gray;
  font-size: 10px;
  margin-top: 10px;
}

.odd img,
.even img,
.title img {
  float: left;
  margin: 0px 10px 0px 0px;
}

/* Main area (page and form)
-------------------------------------------------------- */
.standalone {
  background: whitesmoke;
  border: 20px lightsteelblue solid; 
  margin: 50px auto; 
  padding: 20px;
  width: 400px; 
}

.two_column_layout {
  padding: 12px 16px 12px 16px;
}

.main {
  background: white;
  border-right: 3px lightgrey solid;
  border-bottom: 3px lightgrey solid;
}

.sidebar {
  /*border: 1px blue dotted;*/
  width: 280px;
  padding: 0px 12px 0px 12px;
}

.mainform {
  background: white;
  margin: 15px 15px 15px 15px;
  /*padding: 0px 0px 10px 0px;*/
  /*border:1px red dotted;*/
}

.main li dt {
  /*margin: 0px 0px 0px 58px;*/
  text-align: right;
}

.main a:link, 
.main a:visited, 
.mainform a:link, 
.mainform a:visited {
  color: green;
  text-decoration: none;
}

.main a:hover, 
.mainform a:hover {
  background: seagreen;
  color: white;
  text-decoration: none;
}

.main p {
  color: #413839;
  margin: 4px 0px 0px 0px;
}

.mainform p {
  margin: 0px 0px 5px 0px;
}

.main h4,
.mainform h4 {
  font: normal 18px 'Lucida Grande', Arial, Helvetica, sans-serif;
  height: 30px;
}

.main li {
  font-size: 14px;
  padding: 8px 0px 8px 0px;
}

.main li a:link, 
.main li a:visited {
  color: steelblue;
}

.main li a:hover {
  background: steelblue;
  color: white;
}

.main li tt {
  color: #555555;
}

.main li dt a:link,
.main li dt a:visited {
  color: green;
}

.main li dt a:hover {
  background: seagreen;
  color: white;
}

/*
.main li tt a:link,
.main li tt a:visited {
  color: steelblue;
  text-decoration: none;
}

.main li tt a:hover {
  background: steelblue;
  color: white;
  text-decoration: none;
}
*/
label {
  clear: left;
  color: #3f3f3f;
  float: left;
  margin: 6px 4px 0px 0px;
  text-align: right;
  white-space: nowrap;
  width: 120px;
}

.label {
  color: #3f3f3f;
  font-size: 12px;
  margin: 6px 0px 0px 0px;
}

.intro {
  /*background: white;*/
  color: dimgray;
  font-size: 12px;
  padding-top: 5px;
}

.section {
  background: whitesmoke;
  margin: 5px auto;
  padding: 15px;
}

.buttonbar {
  border-top: 1px gray solid;
  margin: 10px auto;
  padding-top: 6px;
}

.section input,
.section select,
.section textarea {
  margin: 3px;
  padding: 3px;
  vertical-align: middle;
}

/* Form validation messages
-------------------------------------------------------- */
.errorExplanation {
  background-color: seashell;
  border: 2px solid lightpink;
  font-size: 12px;
  padding: 8px;
  margin: 10px 0px 10px 0px;
}

.errorExplanation h2 {
  background: salmon;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin: -8px;
  padding: 5px;
}

.errorExplanation p {
  color: #333;
  padding: 14px 0px 2px 0px;
}

.errorExplanation ul {
  margin-left: 30px;
}

.errorExplanation ul li {
  font-size: 12px;
  list-style-type: disc;
  padding: 0px;
}

.fieldWithErrors {
  display:inline;
}

.fieldWithErrors input,
.fieldWithErrors textarea,
.fieldWithErrors select {
  background: lightpink;
}

/* Flash messages
-------------------------------------------------------- */
p.flash_warning,
p.flash_error {
  background: lightpink;
  color: maroon;
  margin: 0px;
  padding: 5px 0px 5px 16px;
}

p.flash_notice,
p.flash_message {
  background: #df9;
  color: darkgreen;
  margin: 0px;
  padding: 5px 0px 5px 16px;
}
