- if params[:cancel].true?
  crm.flip_form('upload_avatar');
  crm.set_title('upload_avatar', '#{j t(:my_profile)}');
- else
  $('#upload_avatar').html('#{ j render(:partial => "avatar") }');
  crm.hide_form('edit_profile');
  crm.hide_form('change_password');
  crm.flip_form('upload_avatar');
  crm.set_title('upload_avatar', '#{j t(:upload_picture)}');
