- if @user.errors.empty?
  crm.flip_form('change_password');
  crm.set_title('change_password', '#{ j t(:my_profile) }');
  $('#flash').html('#{ j flash[:notice] }');
  crm.flash('notice')
  - flash[:notice] = nil
- else
  $('#change_password').html('#{ j render(partial: "password") }');
  - if @user.errors[:current_password].present?
    $('#current_password').focus();
  - else
    $('#user_password').focus();
