.title_tools
  = link_to("Edit profile", edit_preference_path(@current_user)) + " | "
  = link_to_function("Update notifications", %/alert("Not implemeneted yet.")/) + " | "
  = link_to_function("Change password", %/alert("Not implemeneted yet.")/)
.title Preferences
