= styles_for :opportunity

%ul
  - if @users_with_opportunities.all.any?
    = render :partial => "user_report", :collection => @users_with_opportunities
  #unassigned
    .title
      %span#title
        = t(:unassigned_opportunities)
    %ul.list#opportunities
      = render :partial => "opportunities/opportunity", :collection => @unassigned_opportunities
