- if params[:cancel].true?
  crm.flip_form('change_password');
  crm.set_title('change_password', '#{t(:my_profile)}');
- else
  $('#change_password').html('#{ j render(partial: "password") }');
  crm.hide_form('edit_profile');
  crm.hide_form('upload_avatar');
  crm.flip_form('change_password');
  crm.set_title('change_password', '#{t(:change_password)}');
  $('#current_password').focus();
