%h2 Passkeys

%p
  Manage your passkeys below.

%ul
  - current_user.passkeys.each do |passkey|
    %li
      = passkey.label
      = link_to 'Delete', users_passkey_path(passkey), method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'Add a new passkey', new_create_challenge_users_passkeys_path, class: 'btn btn-primary'
