%details.idc-panel
  %summary #{t :comment}
  %small#comment_intro.full-width
    = t(:comment_intro)
  .form-group#campaign_comment
    = text_area_tag(:comment_body, @comment_body, { class: 'form-control'})
