- @versions = Version.recent_for_user(current_user)
.panel#recently
  .caption #{t :recent_items}
  - if @versions.present?
    = render partial: "shared/recent", collection: @versions
  - else
    %div #{t :no_recent_items}
