- @versions = Version.recent_for_user(current_user)
.panel#recently
  %h4.caption.heading #{t :recent_items}
  - if @versions.present?
    %ul.recent-list= render partial: "shared/recent", collection: @versions
  - else
    %div #{t :no_recent_items}
