- asset = controller_name.singularize
%tr
  %td{ :valign => :top, :colspan => span }
    .label Tags:

    = f.select :tag_list, Tag.all.map{|t| [t.name, t.name] },
      { value: f.object.tags.map{|t| t.name } },
      { :multiple => true, :class => 'select2',
        'data-placeholder' => t(:select_or_create_tags),
        'data-url' => url_for(action: 'field_group'),
        'data-asset-id' => f.object.try(:id) }
