= section(object, :leads)
.list#leads
  - leads = object.leads.paginate(:page => 1, :per_page => 20)
  = render :partial => "leads/lead", :collection => object.leads.paginate(:page => 1, :per_page => 20)

= will_paginate leads, :id => 'leads_pagination', :params => {:action => :leads}
