- sort_by_menu_items = Lead::SORT_BY_OPTIONS.inject([]) do |items, key|
  - items << %Q[{ name: "#{t(key).titleize}", on_select: function() { #{xredraw(:sort_by, key)} }}]

:plain
  new crm.Menu({
    trigger   : "sort_by",
    fade      : 0.5,
    appear    : 0.5,
    menu_items: [ #{sort_by_menu_items.join(",")} ]
  });
