- sort_by_menu_items = Activity::DURATION.inject([]) do |items, (key, value)|
  - items << %Q[{ name: "#{value}", on_select: function() { #{redraw(:duration, [ key, value.downcase ], url_for(:action => :redraw))} } }]

:plain
  new crm.Menu({
    trigger   : "duration",
    fade      : 0.5,
    appear    : 0.5,
    menu_items: [ #{sort_by_menu_items.join(",")} ]
  });
