- unless @activities.blank?
  $('#activities').html('#{ j render(:partial => "activity", :collection => @activities) }');
- else
  $('#activities').html('#{ j t(:no_activity_records) }');

-# $('#paginate').html('#{ j render(:partial => "shared/paginate") }');
$('#export').html('#{ j render(:partial => "shared/export") }');
