- unless @activities.blank?
  jQuery('#activities').html('#{ j render(:partial => "activity", :collection => @activities) }');
- else
  jQuery('#activities').html('#{ j t(:no_activity_records) }');

-# jQuery('#paginate').html('#{ j render(:partial => "shared/paginate") }');
jQuery('#export').html('#{ j render(:partial => "shared/export") }');
