- if not @error
  $('#campaign_import').html('#{ j render(partial: "import") }');
- else
  $('#campaign_import').html('#{ j render(partial: "import") }');
  $('#campaign_import').effect("shake", { duration:250, distance: 6 });
