- if @tag.valid?
  $('#create_tag_arrow').html(crm.COLLAPSED);
  $('#create_tag_title').html('#{ j t(:tags) }');
  $('#create_tag').slideUp(250);
  $('#tags').prepend('#{ j (render partial: "tag", collection: [ @tag ]) }');
  $('##{dom_id(@tag)}').effect("highlight", { duration:1500 });
  crm.flick('empty', 'remove');
- else
  $('#create_tag').html('#{ j render(partial: 'new') }');
  $('#create_tag').effect("shake", { duration:250, distance: 6 });
  $('#tag_name').focus();
