- id = dom_id(@tag)

- if @tag.destroyed?
  jQuery('##{id}').slideUp(250).remove();
- else
  crm.flick("#{dom_id(@tag, :confirm)}, 'remove')");
  jQuery('##{id}').effect("shake", { duration:250, distance: 6 });
  jQuery('#flash').html('#{flash[:warning]}');
  crm.flash('warning');
  - flash[:warning] = nil
