- id = dom_id(@tag)

- if @tag.destroyed?
  $('##{id}').css('background-color', '#ffe4e1').slideUp(250);
- else
  crm.flick("#{dom_id(@tag, :confirm)}, 'remove')");
  $('##{id}').effect("shake", { duration:250, distance: 6 });
  $('#flash').html('#{ j flash[:warning] }');
  crm.flash('warning');
  - flash[:warning] = nil
