- if (controller.controller_name == 'opportunities') and (template = template_for_current_view).present?
  = render("fat_free_crm/" + template, opportunity: opportunity)
- else
  -# default view
  = render 'fat_free_crm/opportunities/index_long', opportunity: opportunity
