- @contacts = @opportunity.contacts.paginate(page: params[:page], per_page: 20)
$('#contacts').html('#{ j render(partial: 'contacts/contact', collection: @contacts) }');
$('#contacts_pagination').replaceWith('#{ j paginate(collection: @contacts, id: 'contacts_pagination', params: { action: 'contacts' } ) }');
