%details.idc-panel.asset_attributes
  %summary
    Custom Information
  .summary-container
    - groups = fields.in_groups_of(2, false)
    - groups.each_with_index do |group, i|
      - group.each do |field|
        .custom-input.full-width
          %b.idc-label
            = field.label
          .idc-value
            = field.render_value(entity)
