
= render :partial => "contacts/section_general", :locals => {:contact => contact}
= render :partial => "contacts/section_custom_fields", :locals => {:contact => contact}
= render :partial => "contacts/extra_section", :locals => {:contact => contact}
