
= render :partial => "contacts/section_general", :locals => {:contact => contact}
= render :partial => "entities/section_custom_fields", :locals => {:entity => contact}
= render :partial => "contacts/section_extra", :locals => {:contact => contact}
