- edit ||= false
- collapsed = session[:contact_tags].nil? # && @contact.errors.empty?
= subtitle :contact_tags, collapsed, t(:tags)
.section
  %small#contact_tags_intro{ hidden_if(!collapsed) }
    = t(:tags_intro)
  #contact_tags{ hidden_if(collapsed) }
    %div#tag_form_field
      = text_field_with_auto_complete :tag, :name, {:class => 'txt-std'},{:indicator => "auto_tag_loading",:tokens=>",",:skip_style=>true}
      = image_tag "loading.gif", :size => "16x16", :id=>'auto_tag_loading', :style=>"display:none;"