= inline "Create Contact", new_contact_path, :id => :create_contact
.title#contact Contacts

.remote#create_contact{ hidden }

.list#contacts
  - unless @contacts.empty?
    = render :partial => "contact", :collection => @contacts
  - else
    %div== You don't have any contacts yet. Feel free to #{link_to("create new contact", new_contact_path)}.
