= inline :create_contact, new_contact_path
.title#create_contact_title Contacts
.remote#create_contact{ hidden }

.list#contacts
  - unless @contacts.empty?
    = render :partial => "contact", :collection => @contacts
  - else
    = render :partial => "common/empty"
#paginate= render :partial => "common/paginate"
