.title_menu= link_to "Create New Contact", new_contact_path
.title Contacts

.list
  - unless @contacts.empty?
    = render :partial => "contact", :collection => @contacts
  - else
    %div== You don't have any contacts yet. Feel free to #{link_to("create new contact", new_contact_path)}.
