- if (controller.controller_name == 'leads') and (template = template_for_current_view).present?
  = render("fat_free_crm/" + template, lead: lead)
- else
  -# default view
  = render 'fat_free_crm/leads/index_brief', lead: lead
