- entity_show = "#{entity.class.to_s.downcase}_show"
- entity.field_groups.each do |field_group|
  - if (fields = field_group.fields.without_pairs).any?
    - unless field_group.name == 'custom_fields'
      -# add a new section
      %div[field_group]
        - collapsed = session[dom_id(field_group, entity_show)].nil?
        = section_title dom_id(field_group, entity_show), collapsed, field_group.label_i18n, t('show_tag_info_small', tag: field_group.label_i18n)
        .show_fields
          %div{ hidden_if(collapsed).merge(id: dom_id(field_group, entity_show)) }
            = render "fields/group_view", fields: fields, entity: entity
