- opportunities = entity.opportunities.order('updated_at DESC').paginate(page: params[:page], per_page: 20)
$('#opportunities').html('#{ j render(partial: 'opportunities/opportunity', collection: opportunities) }');
$('#opportunities_pagination').html('#{ j paginate(collection: opportunities, container: false, params: { action: 'opportunities' } ) }');
