- versions = Version.history(entity).paginate(page: params[:page], per_page: 20)
$('#versions .list').html('#{ j(render partial: 'versions/version', collection: versions) }')
$('#versions_pagination').html('#{ j paginate(collection: versions, container: false, params: { action: 'versions' } ) }')
