.standalone
  - form_for(@user, :url => passwords_path, :html => one_submit_only(:user), :method => :put) do |f|
    .title Reset Password
    = f.error_messages
    .intro Please type your new password and then confirm it.
    .section
      .label Password:
      = f.password_field :password
      .label Password confirmation:
      = f.password_field :password_confirmation
    %br
    .buttonbar
      = f.submit "Update Password and Login"
