.standalone
  - form_tag passwords_path do
    .title Forgot Password
    .intro Please specify your email address and the instructions to reset your password will be sent to you.
    .section
      .label Email address:
      = text_field_tag :email
    .buttonbar
      = submit_tag "Reset Password"
