<div class="standalone">
  <% form_tag passwords_path do %>
    <div class="title">
      Forgot Password
    </div>

    <%= flash[:notice] %>

    <div class="intro">
      Please specify your email address and the instructions to reset your password will be sent to you.
    </div>

    <div class="section">
      <div class="label">
        Email address:
      </div>
      <%= text_field_tag :email, "", :style => "width:355px; font-size:1.3em" %>
    </div>

    <div class="buttonbar">
      <%= submit_tag "Reset Password", :style => "font-size:1.2em" %>
    </div>

  <% end -%>
</div>
