%div#versions
  - collapsed = session[:version_history].nil?
  %br
  = subtitle(:version_history, collapsed, t(:versions))
  %div
    %div{ hidden_if(collapsed) }
      .list
        - versions = Version.history(object).paginate(:page => 1, :per_page => 20)
        = render :partial => "versions/version", :collection => versions

      = will_paginate versions, :id => 'versions_pagination', :params => {:action => :versions}
