%li[version]{ highlightable(dom_id(version, :tools)) }
  .body
    .tools{ invisible, :id => dom_id(version, :tools) }
      =# link_to_edit(version) + " | "
      =# link_to_delete(version)

    - if user = User.find_by_id(version.whodunnit)
      - user_name = user.name
    - else
      - user_name = t('version.anonymous')
    = t('version.' + version.event, :by => user_name, :when => time_ago_in_words(version.created_at))
    %tt
      - version.changeset.each do |attr_name, change|
        - if attr_name =~ /^cf_/
          - field = CustomField.where(:name => attr_name).first
          - label = field.label
          - first = field.render change.first
          - second = field.render change.second
        - else
          - label = t(attr_name)
          - first = change.first
          - second = change.second
        - if [first, second].any?(&:present?)
          %br
          - if first.blank? and second.present?
            = t('version.set', :attr => label, :to => second)
          - elsif first.present? and second.present?
            = t('version.change', :attr => label, :from => first, :to => second)
          - elsif first.present? and second.blank?
            = t('version.unset', :attr => label, :from => first)
