%h2 Passkeys

%p
  Manage your passkeys below.

%ul
  - current_user.passkeys.each do |passkey|
    %li
      = passkey.label
      = link_to 'Delete', users_passkey_path(passkey), method: :delete, data: { confirm: 'Are you sure?' }

= render "new_form", resource_name: :user