- id = dom_id(@field_group)

- if @field_group.destroyed?
  $('##{id}').css('background-color', '#ffe4e1').slideUp(250);
- else
  $('#flash').html('#{ j t(:msg_cant_delete_field_group) }');
  crm.flash('warning');
  - flash[:warning] = nil
