- asset = @field_group.klass_name.downcase
- id = "#{asset}_create_field_group"

crm.flick('empty', 'toggle');
crm.flip_form('#{id}');

- if params[:cancel] != "true"
  $('##{id}').html('#{ j render(:partial => 'new') }');
