.tools
  = hook(:contact_tools_before, self, contact: contact)
  - if can?(:update, contact)
    = link_to_edit(contact)
  - if shown_on_landing_page?
    = link_to_discard(contact)
  - if can?(:destroy, contact)
    = link_to_delete(contact) 