
= section(object, :contacts)
.list#contacts
  - contacts = object.contacts.order('updated_at desc').paginate(page: 1, per_page: 20)
  = render partial: "contacts/contact", collection: contacts

= paginate( collection: contacts, id: 'contacts_pagination', params: { action: 'contacts' } )
