= section(object, :opportunities)
.list#opportunities
  - opportunities = object.opportunities.paginate(:page => 1, :per_page => 20)
  = render :partial => "opportunities/opportunity", :collection => opportunities

= will_paginate opportunities, :id => 'opportunities_pagination', :params => {:action => :opportunities}
