
= render "opportunities/section_general", :opportunity => opportunity
= render "entities/section_custom_fields", :entity => opportunity
= render "opportunities/section_extra", :opportunity => opportunity
