- @contacts = @opportunity.contacts.paginate(:page => params[:page], :per_page => 20)
jQuery('#contacts').html('#{ j render(:partial => 'contacts/contact', :collection => @contacts) }');
jQuery('#contacts_pagination').replaceWith('#{ j will_paginate(@contacts, :id => :contacts_pagination, :params => {:action => :contacts}) }');
