= styles_for :opportunity

= inline "Create Opportunity", new_opportunity_path, :id => :create_opportunity
.title#opportunity Opportunities

.remote#create_opportunity{ hidden }

.list#opportunities
  - unless @opportunities.empty?
    = render :partial => "opportunity", :collection => @opportunities
  - else
    %div== You don't have any opportunities yet. Feel free to #{link_to("create new opportunity", new_opportunity_path)}.
