.section
  %table
    %tr
      %td
        .label.top.req #{t :name}:
        = f.text_field :name
    %tr
      %td
        .label.top.req #{t :users}:
        %br
        = f.select :user_ids, User.all.map {|u| [u.full_name, u.id]}, {}, :multiple => true
        :javascript
          new Chosen($('group_user_ids'));
