- if (controller.controller_name == 'campaigns') and (template = template_for_current_view).present?
  = render(template, campaign: campaign)
- else
  -# default view
  = render 'campaigns/index_brief', campaign: campaign
