= styles_for :campaign

= inline "Create Campaign", new_campaign_path, :id => :create_campaign
.title#campaign Campaigns

.remote#create_campaign{ hidden }

.list#campaigns
  - unless @campaigns.empty?
    = render :partial => "campaign", :collection => @campaigns
  - else
    %div== You don't have any campaigns set up. Please #{link_to("create new campaign", new_campaign_path)} first.
