= styles_for :campaign

= inline :create_campaign, new_campaign_path
.title#create_campaign_title Campaigns
.remote#create_campaign{ hidden }

.list#campaigns
  - unless @campaigns.empty?
    = render :partial => "campaign", :collection => @campaigns
  - else
    %div== You don't have any campaigns set up. Please #{link_to("create new campaign", new_campaign_path)} first.
