#search input[type="text"] {
  background-color: var(--neutral-010);
}

.idc-panel {
  input[type="text"],
  select {
    background-color: var(--neutral-010);
  }

  .form-group {
    margin-bottom: 0;
  }
}

.rails-output {
  grid-column: 1 / -1;

  label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.shove-down {
  padding-top: 2rem;
}