crm.flip_form('create_user');

- unless params[:cancel].true?
  $('#create_user').html('#{ j render(:partial => "new") }');
  $('#empty').html('');
  crm.set_title('create_user', '#{t(:create_user)}');

- else
  crm.set_title('create_user', '#{t(:users)}');
