.title Add New User
%p
:erb
  <% form_for([ :admin, @user ]) do |f| %>
    <%= f.error_messages %>

    <p>
      Username:<br />
      <%= f.text_field :username %><br />
      Email:<br />
      <%= f.text_field :email %><br />
      Password:<br />
      <%= f.password_field :password %><br />
      Password confirmation:<br />
      <%= f.password_field :password_confirmation %><br />
      <br />
      <%= f.submit 'Create' %>
    </p>
  <% end %>

  <%= link_to 'Back', admin_users_path %>