- asset.field_groups.each do |field_group|
  - fields = field_group.fields.without_pairs
  - if fields.select{|f| asset.send(f.name).present? }.any?
    - unless field_group.name == 'custom_fields'
      .caption #{field_group.label_i18n}
    = render("fields/group_view", fields: fields, entity: asset) unless fields.nil?
