.comment[comment]
  = gravatar_for(comment.user, :size => "25x25")
  .body
    = link_to comment.user.full_name, "mailto:" + comment.user.email
    %tt= time_ago(comment.created_at)
    %dt= comment.comment
