- format_menu_items = [ :long, :short ].inject([]) do | items, format|
  - items << %Q[{ name: "#{format}", on_select: function() { #{redraw(:format, format)} } }]

:plain
  new crm.Menu({
    trigger   : "format",
    fade      : 0.5,
    appear    : 0.5,
    menu_items: [ #{format_menu_items.join(",")} ]
  });
