- naming_menu_items = %w(before after).map { |naming| options_menu_item(:naming, naming) }

:plain
  new crm.Menu({
    trigger   : "naming",
    fade      : 0.5,
    appear    : 0.5,
    menu_items: [ #{naming_menu_items.join(",")} ]
  });
