- outline_menu_items = %w(brief long).map { |outline| options_menu_item(:outline, outline) }

:plain
  new crm.Menu({
    trigger   : "outline",
    fade      : 0.5,
    appear    : 0.5,
    menu_items: [ #{outline_menu_items.join(",")} ]
  });
