- per_page_menu_items = [ 10, 20, 30, 50 ].map { |per_page| %Q[{ name: "#{per_page}", on_select: function() { #{redraw(:per_page, per_page)} } }] }

:plain
  new crm.Menu({
    trigger   : "per_page",
    fade      : 0.5,
    appear    : 0.5,
    width     : 50,
    menu_items: [ #{per_page_menu_items.join(",")} ]
  });
