- perpage_menu_items = [ 10, 20, 30, 50 ].inject([]) do | items, perpage|
  - items << %Q[{ name: "#{perpage}", on_select: function() { #{redraw(:perpage, perpage)} } }]

:plain
  new crm.Menu({
    trigger   : "perpage",
    fade      : 0.5,
    appear    : 0.5,
    menu_items: [ #{perpage_menu_items.join(",")} ]
  });
