- model = controller.controller_name.classify.constantize
- sort_by_menu_items = model.sort_by_fields.map { |field| options_menu_item(:sort_by, field) }

:plain
  new crm.Menu({
    trigger   : "sort_by",
    fade      : 0.5,
    appear    : 0.5,
    menu_items: [ #{sort_by_menu_items.join(",")} ]
  });
