%ul
  - unless @auto_complete.blank?
    - @auto_complete.each do |item|
      - name = item.name << (item.is_a?(Lead) ? " (#{item.company})" : "")
      %li{ :id => item.to_param }= highlight(truncate(name, :lenght => 45), @query)
  - else
    %li== No #{controller.controller_name} match <font color="yellow">#{@query}</font>
