<div id="tabs">
  <ul>
    <% controller.tabs.each do |tab| -%>
      <li><%= link_to(tab[:text], tab[:url], :class => tab[:active] ? "active" : "") %></li> 
    <% end -%>
  </ul>
</div>

<%= show_flash_if_any %>
<%= yield %>