- if (params['controller'] == 'accounts') and (template = template_for_current_view).present?
  = render(template, :account => account)
- else
  -# default view
  = render 'accounts/index_brief', :account => account
