
= render :partial => "accounts/section_general", :locals => {:account => account}
= render :partial => "entities/section_custom_fields", :locals => {:entity => account}
= render :partial => "accounts/section_extra", :locals => {:account => account}
