- content_for :styles do
  %style
    \.none { background:pink; }
    \.some { background:palegreen; }

.title_menu= link_to "Create New Account", new_account_path
.title Accounts

.list
  - unless @accounts.empty?
    = render :partial => "account", :collection => @accounts
  - else
    %div== You don't have any accounts set up yet. Feel free to #{link_to("create new account", new_account_path)} now.
