= styles_for :account

= inline "Create Account", new_account_path, :id => :create_account
.title#account Accounts

.remote#create_account{ hidden }

.list#accounts
  - unless @accounts.empty?
    = render :partial => "account", :collection => @accounts
  - else
    %div== You don't have any accounts set up yet. Feel free to #{link_to("create new account", new_account_path)} now.
