= styles_for :account

= inline :create_account, new_account_path
.title#create_account_title Accounts
.remote#create_account{ hidden }

.list#accounts
  - unless @accounts.empty?
    = render :partial => "account", :collection => @accounts
  - else
    %div== You don't have any accounts set up yet. Feel free to #{link_to_remote("create new account", :url => new_account_path)} now.
