#confirm{ hidden }
.tlink
  = link_to("Back to List of Accounts", accounts_path) + " | "
  = link_to("Edit", edit_account_path(@account)) + " | "
  = link_to_function("Delete?", confirm_delete(@account))
.title= @account.name
